<div class="root__container" >
    <header [ngClass]="{'main__header-dark': darkModeActive}" class="main__header">

        <h3 class="date__text p-3">Gallery</h3>
          
        <div class="row">
            <div class="col-4">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedUser.name}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let user of users" (click)="changeUser(user)">{{user.name}}</button>
                </div>
                
              </div>
            </div>
            <a [routerLink]="['/user', selectedUser.id]" class="btn btn-primary">Go</a>
        </div>

    </header>

    <!-- Main Content -->

    <!--<router-outlet></router-outlet>-->
    <main class="main__container">
        <div class="main-container__bg" [ngClass]="{'main-container__bg-dark': darkModeActive}"></div>
        <router-outlet></router-outlet>
    </main>

 
</div>

